{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/goals_update.css' %}">
{% if messages %}
  {% for message in messages %}
    <div>{{ message.message }}</div>
  {% endfor %}
{% endif %}
<h1 class="page-title">トレーニング目標編集画面</h1>
<div class="container">
  <div class="link-container">
    <p><a href="{% url 'training_menus:home' %}" class="link-back">戻る</a></p>
  </div>
  <div class="training-update-container">
    <form method="post" class="training-update-form">
      {% csrf_token %}
      <div class="form-fields">
          {{ form.name.label_tag }}
          {{ form.name }}
      </div>
      <input type="submit" value="更新" class="submit-button">
    </form>
    <p>'例：自由なオシャレを満喫する、体形を気にせずに水着で海を楽しむ</p>
  </div>
</div>
{% endblock %}
