{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/training_add.css' %}">
{% if messages %}
  {% for message in messages %}
    <div>{{ message.message }}</div>
  {% endfor %}
{% endif %}
<h1 class="page-title">トレーニングメニュー追加画面</h1>
<div class="container">
  <div class="link-container">
    <p><a href="{% url 'training_menus:training_list' %}" class="link-back">トレーニングメニュー一覧へ</a></p>
    <p><a href="{% url 'training_menus:training_settings' %}" class="link-back">トレーニング設定へ</a></p>
  </div>
  <div class="training-add-container">
    <form method="post" class="training-add-form">
      {% csrf_token %}
      <div class="form-fields">
        {{ form.as_p }}
      </div>
      <input type="submit" value="追加" class="submit-button">
    </form>
  </div>
</div>
{% endblock %}